<!-- GitHub and Copilot -->
<section class="github-copilot">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4" style="font-weight:500;color:rgb(1,16,89);font-family:'Telegraf-Ultrabold', sans-serif">Explore Advanced Technologies</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 hero-paragraph">
                Delve into cutting-edge technologies and expand your horizons. Discover the latest innovations and gain insights into complex solutions that drive the future.
            </p>
            <a href="{{ url_for('auth.register') }}" class="icon-link icon-link-hover" style="text-decoration: none;color:rgb(1,16,89);">
                <span class="mt-2">Get Started</span>
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        <div>
            <div class="container px-5">
                <img src="{{ url_for('static', filename='media/github&copilot.png') }}" class="img-fluid mb-4" alt="GitHub & Copilot" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</section>
<!-- End GitHub and Copilot -->
