{% extends 'apis/forms/create/courses/create-course-base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="display-1 text-primary">Course Sections Design <strong>.</strong></h2>
  <div class="py-2"></div>
  <div class="mt-5 text-light bg-gradient bg-primary border-start border-5 border-info px-3 py-5 shadow-md">
    <small>
      Good job <strong>{{ current_user.first_name }}</strong>! You have just completed the <strong>first step</strong>. Now, let's move on to designing the <strong>core course sections</strong>. If you have any <strong>code snippets or additional information</strong> you'd like to share, feel free to do so here. If you're currently occupied, no need to worry – you can conveniently <strong>save</strong> your progress by clicking the <strong>save button</strong>. Take this opportunity to <strong>explore</strong> the platform, create <strong>engaging</strong>courses, and contribute to the realm of tech education. Here, you'll discover effective <strong>problem-solving</strong> techniques, breaking down the <strong>greatest challenges</strong> into <strong>manageable components</strong> for enhanced <strong>understanding</strong>.
      <br>
      <hr>
      <strong>
        Fields marked with a red asterisk <span class="text-danger">(*)</span>
        are mandatory fields. Therefore, you must complete them to proceed.
      </strong>
    </small>
  </div>
  <div class="py-3"></div>
  <form method="POST" action="{{ url_for('api.create_course_step2') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group mb-4">
      <label class="form-control-label">The Main Problem<span class="text-danger">*</span></label>
      <p class="mb-3 text-body-secondary">
        What is the primary challenge you aim to teach your students to overcome? Whether it's a business dilemma, an optimization puzzle, or a connectivity issue, please visit <a href="{{ url_for('api.course_templates') }}">this page</a> for a clearer understanding of the problem in <strong>this particular context</strong>.
      </p>
      <textarea class="form-control" id="main_problem" required="required" placeholder="'The Cheery Bistro', a beloved Elm Street restaurant, known for its delectable dishes, faces challenges in dinner order management. Owned by Mrs. Amelia Green, who personally handles customer relationships, the restaurant relies on phone orders, creating a bustling yet occasionally frustrating experience for customers. This popularity, while contributing to revenue, poses potential losses due to order difficulties. Mrs. Green seeks ways to enhance the ordering process, preserving personal connections while ensuring a delightful experience for valued customers."></textarea>
      <small class="text-body-secondary">Min 600, Max 1000 characters</small>
      <div class="text-danger" id="mainProblemError"></div>
    </div>
    <div class="form-group mr-2">
      {{ form.tech_field.label(class="mr-2 form-label") }}<span class="text-danger">*</span>
      {{ form.tech_field(class="mr-2 form-select", id="techField") }}
      <div id="TechFieldError"></div>
    </div>
    <div class="form-group my-4">
      <label class="form-control-label">Strategy<span class="text-danger">*</span></label>
      <p class="mb-3 text-body-secondary">
        Briefly outline the suitable solutions to address the <strong>challenges</strong> you previously listed, considering the <strong>specific tech field</strong> you've selected. This will provide a <strong>targeted</strong> approach to resolving the <strong>identified issues</strong>.
      </p>
      <textarea class="form-control" id="strategy" required="required" placeholder="As web developers, we propose a holistic tech solution for 'The Cheery Bistro.' Our approach involves crafting an intuitive website and mobile app to facilitate seamless online orders and reservations. Implementing an automated communication system will keep customers informed, while a CRM system ensures personalized interactions based on preferences. To efficiently manage peak hours, we suggest integrating a digital queue system and robust tech support. Leveraging data analytics will provide actionable insights, contributing to informed decision-making. Our solutions are designed to elevate customer experience, optimize operations, and maintain the restaurant's unique charm in the digital landscape."></textarea>
      <small class="text-body-secondary">Min 600, Max 1000 characters</small>
      <div class="text-danger" id="strategyError"></div>
    </div>
    <div class="mt-4" id="relatedSkillsContainer">
      <strong>Now, choose relevant skills that you will employ to address the challenges presented by the earlier-described problem<span class="text-danger">*</span>. <br>
      <ul class="list-inline mt-3" id="relatedSkillsList">
        <!-- Related skills will be dynamically added here -->
      </ul>
    </div>
    <div class="my-4 px-3 py-3 border border-1 SelectedSkillsList">
      <!--Selected skills will be shown here-->
    </div>
    <div class="form-group my-4">
      <label class="form-control-label mb-3">Outline the <strong>steps</strong> you would take to solve this <strong>problem</strong> within the context of your selected course <strong>category</strong><span class="text-danger">*</span>.</label>
      <div class="form-group">
        <label class="form-control-label">Enter the number of steps</label>
        <input class="form-control" type="number" id="NumberOfSteps" name="NumberOfSteps" required="required" max="10" min="2" placeholder="Ex: 2">
        <div class="text-danger" id="NumberOfStepsError"></div>
        <small class="text-body-secondary">Min 2, Max 10</small>
        <div id="stepsContainer" class="my-3"></div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label class="form-label" for="NumberOfHeadings">How Many Sections For this Course?</label><span class="text-danger">*</span>
      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" name="contentTypes[]" value="CodeSnippets" id="codeSnippets">
        <label class="form-check-label" for="codeSnippets">
          I would like to include some lines of code.
        </label>
      </div>
      <input class="form-control" type="number" name="NumberOfHeadings" placeholder="Ex: 3" id="NumberOfHeadings" min="3" max="20">
      <small class="text-body-secondary">Min 3, Max 20</small><br>
      <hr>
      <small class="text-body-secondary">
        Here you can give more explanations for some abstract concepts outlined in your course. 
      </small>
    </div>
    <div id="dynamicFieldsContainer" class="mb-4">
    <!-- Dynamic input fields will be added here -->
    </div>
    <div class="py-3"></div>
    <div class="d-flex justify-content-end gap-2 me-3">
      <button type="button" id="SaveToCloud" class="btn btn-secondary">
        <i class="bi bi-cloud-arrow-up-fill" id="cloud-button"></i>
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
        Save
      </button>
      <a href="{{ url_for('api.create_course_step1') }}" class="btn btn-info text-light">
        <i class="bi bi-arrow-left-circle"></i>
        Previous
      </a>
      <button type="button" id="continueButtonStep2" class="btn btn-primary" disabled="disabled">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
        Continue
        <i class="bi bi-arrow-right-circle" id="arrow-next2"></i>
      </button>
      <button type="submit" style="display: none;"></button>
    </div>
  </form>
</div>
{% endblock %}