{% extends 'apis/forms/create/courses/create-course-base.html' %}
{% block content %}
	<div class="container mt-5">
		<h2 class="display-1 text-light py-2 px-4 bg-primary">Course Basic Informations <strong>.</strong></h2>
		<div class="mt-5">
			<small class="text-body-secondary">
		    Welcome, <strong>{{ current_user.first_name }}</strong> ! We are thrilled to have you as part of our instructor community. If you're busy, don't worry. You can <strong>save</strong> your work by clicking the <strong>save button</strong>. Feel free to explore the platform, create engaging courses, and contribute to the world of tech education.
		   <hr>
		   <strong>
				Fields marked with a red asterisk <span class="text-danger">(*)</span>
				are mandatory fields. Therefore, you must complete them to proceed.
			</strong>
		</small>
		</div>
		<div class="py-3"></div>
		<form method="POST" action="{{ url_for('api.create_course_step1') }}" enctype="multipart/form-data" id="CreateCourseStep1">
		    {{ form.hidden_tag() }}
		    <div class="form-group mb-4">
		    	{{ form.author_name.label(class="form-control-label") }}<span class="text-danger">*</span>
		            {{ form.author_name(class="form-control", placeholder='Clark Eddy', id="author_name") }}
                <div id="authorNameError" class="invalid-feedback"></div>
		    </div>

		    <div class="form-group mb-4">
		        {{ form.email.label(class="form-control-label") }}
		        {{ form.email(class="form-control", placeholder='example@gmail.com', id="email") }}
		        <div class="text-body-secondary my-2">
		    		The email you provide here is only for contact purpose, students or some companies can contact you if they need some information.
		    	</div>
                <div id="emailError" class="invalid-feedback"></div>
		    </div>

		    <div class="form-group mb-4">
		       	<label>Are you currently working for a company?<span class="text-danger">*</span></label>
		        <div class="d-flex gap-2 mt-3">
		        	<div class="form-check">
					  	<input class="form-check-input" type="radio" name="working_for_company" id="working_for_company_yes" value="1" onclick="toggleCompanyNameField(true)">
					  	<label class="form-check-label" for="working_for_company_yes">
					   		Yes
					  	</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="working_for_company" id="working_for_company_no" value="0" checked onclick="toggleCompanyNameField(false)">
					  	<label class="form-check-label" for="working_for_company_no">
					   		No
					  	</label>
					</div>
		        </div>	
		    </div>

		    <div class="form-group mb-4 companyFields" style="display: none;">
                <div class="text-body-secondary mb-3">
                    As you've entered <strong>Yes</strong> to the previous question, please give us the name of the company you are working for.
                </div>
		        {{ form.company_name.label(class="form-control-label") }}<span class="text-danger">*</span>
		        {{ form.company_name(class="form-control", placeholder='Tesla Motors', id="company_name") }}
                <div id="companyNameError" class="invalid-feedback"></div>
		    </div>

		    <div class="form-group mb-4">
		       	<label>Are you a student or a Professor/Researcher?<span class="text-danger">*</span></label>
		        <div class="d-flex gap-2 mt-3">
		        	<div class="form-check">
					  	<input class="form-check-input" type="radio" name="student_or_professor" id="student_or_professor_yes" value="1" onclick="toggleUniversityNameField(true)">
					  	<label class="form-check-label" for="student_or_professor_yes">
					   		Yes
					  	</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="student_or_professor" id="student_or_professor_no" value="0" checked onclick="toggleUniversityNameField(false)">
					  	<label class="form-check-label" for="student_or_professor_no">
					   		No
					  	</label>
					</div>
		        </div>	
		    </div>

			<div class="form-group mb-4 SchoolFields" style="display: none;">
                <div class="text-body-secondary mb-3">
                    As you've entered <strong>Yes</strong> to the previous question, please give us the name of your <strong>Institution</strong>.
                </div>
                <div class="my-2">
                	<small class="text-body-secondary">
                		<strong class="get-Inpired">Note</strong><br>
                		Please enter the full name of your institution.
                	</small>
                </div>
		        {{ form.university_name.label(class="form-control-label") }}<span class="text-danger">*</span>
		        {{ form.university_name(class="form-control", placeholder='Massachussets Institute of Technology', id="university_name") }}
                <div id="SchoolNameError" class="invalid-feedback"></div>
                <div class="form-group my-4">
				    <label>Have you published any scientific paper or invention?<span class="text-danger">*</span></label>
				    <div class="d-flex gap-2 mt-3">
				       	<div class="form-check">
							<input class="form-check-input" type="radio" name="scientific_paper" id="scientific_paper_yes" value="1" onclick="toggleScientificPaper(true)">
							<label class="form-check-label" for="scientific_paper_yes">
							   	Yes
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="scientific_paper" id="scientific_paper_no" value="0" checked onclick="toggleScientificPaper(false)">
							<label class="form-check-label" for="scientific_paper_no">
							   	No
							</label>
						</div>
				    </div>
				    <div class="my-3 ScientificPaperFields">
				    	<div class="text-body-secondary mb-3">
                    		We celebrate scientific researches and provide <strong>loans</strong>, <strong>prizes</strong>, <strong>scholarships</strong>, and <strong>investments</strong> to <strong>scientists</strong>, <strong>inventors</strong>, and <strong>entrepreneurs</strong> in various fields, including <strong>agriculture</strong>, <strong>neuroscience</strong>, and more. Your <strong>contributions</strong> are <strong>invaluable</strong>, and we encourage you to share your discoveries with us.
						</div>
		                <div class="my-2">
		                	<small class="text-body-secondary">
		                		<strong class="get-Inpired">Note</strong><br>
		                		If you have any concerns about our <strong>intellectual property policy</strong>, please refer to our <a href="">Discoveries and Inventions Privacy Policy Guide</a>.
    						</small>
		                	</small>
		                </div>
		                <div class="form-group">
		                	<label class="form-control-label">Number of Papers/Inventions published</label>
		                	<input class="form-control" placeholder="1" type="number" id="NumberOfPapers">
		                </div>
		                <div id="paperInputsContainer"></div>
				    </div>
			    </div>
		    </div>

		    <div class="form-group mb-4">
		        {{ form.core_specialization.label(class="form-control-label") }}<span class="text-danger">*</span>
		        {{ form.core_specialization(class="form-control", placeholder='Embedded Software Engineer', id='core_specialization') }}
                <div id="CoreSpecializationError" class="invalid-feedback"></div>
		    </div>

		    <div class="form-group mb-4">
		        {{ form.course_title.label(class="form-control-label") }}<span class="text-danger">*</span> 
		        {{ form.course_title(class="form-control", placeholder="Power of data in the decision making process", id='course_title') }}
                <div id="courseTitleError" class="invalid-feedback"></div>
                <div class="mt-3">
		          	<small>
			           	<i class="bi bi-smile"></i> 
			            <span class="get-Inpired"><strong>Note</strong></span><br>
			            <span class="fs-italic">
			            	Add <strong class="text-primary">vol.01</strong> or <strong class="text-primary">vol.02</strong> in case it is the <strong>next part</strong> of an <strong>existing course</strong>. 
			            </span>
		            </small>
		        </div>
		    </div>

		    <div class="form-group mb-4">
		        {{ form.short_description.label(class="form-control-label") }}<span class="text-danger">*</span>
		        {{ form.short_description(class="form-control", placeholder='Explore the world of cryptocurrency development. In this course you will Learn to create and manage your own cryptocurrencies and blockchain applications using the best technologies', id='short_description') }}
		       	<div id="descriptionError" class="invalid-feedback"></div>
                <div class="mt-3">
		          	<small>
			           	<i class="bi bi-smile"></i> 
			            <span class="get-Inpired"><strong>Note</strong></span><br>
			            <span class="fs-italic">
			            	Give a <strong>nice</strong> and <strong>short description</strong> that will make people <strong>engaged</strong> in your <strong>course</strong>.
			            </span>
		            </small>
		        </div>
		    </div>

		    <div class="form-group mb-4">
		       	<label>Do you have a video for this course?<span class="text-danger">*</span></label>
		        <div class="d-flex gap-2 mt-3">
		        	<div class="form-check">
					  	<input class="form-check-input" type="radio" name="have_videos" id="have_videos_yes" value="1" onclick="toggleHaveVideosField(true)">
					  	<label class="form-check-label" for="have_videos_yes">
					   		Yes
					  	</label>
					</div>
					<div class="form-check">
					  	<input class="form-check-input" type="radio" name="have_videos" id="have_videos_no" value="0" checked onclick="toggleHaveVideosField(false)">
					  	<label class="form-check-label" for="have_videos_no">
					   		No
					  	</label>
					</div>
		        </div>	
		    </div>

		    <div class="form-group mb-5" id="videosField" style="display: none;">
		    	<div class="mb-3">
				    <strong>Video requirements</strong>:<br>
				    To ensure optimal video playback and learning experience, please adhere to the following video guidelines:
				    <ul>
				        <li>Video formats: <strong class="text-primary">MP4</strong> and <strong class="text-primary">AVI</strong></li>
				        <li>Resolution: <strong class="text-primary">720p</strong> or higher</li>
				        <li>Bitrate: <strong class="text-primary">Between 2,500 and 4,000 kbps for 720p</strong></li>
				        <li>Codec: <strong class="text-primary">H.264</strong></li>
				        <li>File size: <strong class="text-primary">No more than 500 MB</strong></li>
				    </ul>
				    <span class="get-Inpired"><strong>Note</strong></span><br>
				    These specifications ensure <strong>compatibility</strong>, <strong>quality</strong>, and efficient <strong>streaming</strong> across various <strong>devices</strong> and <strong>internet speeds</strong>.
				</div>
				<div class="input-group">
					{{ form.video(class="form-control", id="video") }}
					<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
						<i class="bi bi-trash"></i>
		                Remove
					</button>
					<div id="videoError" class="invalid-feedback"></div>
				</div>
			</div>

		    <div class="form-group mb-4" id="VideoTextLinks">
		       	<small class="text-body-secondary">
		        	As you've entered <strong>No</strong> to the previous question, please provide any <strong>free to use video's link</strong> you know on the internet talking about the <strong>same subject</strong>.
		        </small>
		        <br>
		    	<div class="mt-3">
		    		<div class="form-group">
		    			<label class="form-control-label" for="NumberOfVideos">How many videos you know?</label>
		    			<input type="number" class="form-control" placeholder="2" id="NumberOfVideos">
		    		</div>
		        </div>
                <div id="videoInputsContainer"></div>
		    </div>
		    <div class="form-group mb-5">
		    	<div class="mb-3">
				    <strong>Thumbnail requirements</strong>:<br>
				    To enhance the visual appeal of your course, please follow these thumbnail requirements:
				    <ul>
				        <li>Image format: <strong class="text-primary">JPEG</strong>, <strong class="text-primary">PNG</strong>, <strong class="text-primary">JPG</strong></li>
				        <li>Resolution: <strong class="text-primary">1280x720 pixels</strong> or higher</li>
				        <li>Aspect ratio: <strong class="text-primary">16:9</strong></li>
				        <li>File size: <strong class="text-primary">5 MB</strong> or less</li>
				    </ul>
				    <span class="get-Inpired"><strong>Note</strong></span><br>
				    A <strong>well-crafted</strong> thumbnail contributes to the <strong>attractiveness</strong> of your course and helps learners <strong>identify</strong> and engage with the <strong>content</strong>.
				</div>
				<div class="input-group">
					{{ form.thumbnail(class="form-control", id="thumbnail") }}
					<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
						<i class="bi bi-trash"></i>
		                Remove
					</button>
					<div id="thumbnailError" class="invalid-feedback"></div>
				</div>
			</div>
		    <div class="d-flex justify-content-end gap-2 me-3">
		    	<button type="button" id="continueButton" class="btn btn-primary">
		    		Continue
		    		<i class="bi bi-arrow-right-circle"></i>
		    	</button>
			</div>
		</form>
	</div>
{% endblock %}
