{% extends 'apis/forms/create/courses/create-course-base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="display-1 text-primary">Quizz and Requirements Design</h2>
  <div class="bg-gradient bg-info border-start border-5 border-primary px-3 py-4 shadow-md">
    <small class="text-light">
      <i class="bi bi-exclamation-circle-fill"></i> Note <br> 
      In this context, it is crucial to identify the <strong>materials</strong> necessary for participants to derive <strong>maximum</strong> benefit from your course. Additionally, we should determine the specific questions to pose, ensuring they effectively assess whether the participants have truly <strong>grasped</strong> the <strong>content</strong>. Congratulations this is your <strong>last step</strong>!
      <br>
      <hr>
      <strong>
        Fields marked with a red asterisk <span class="text-danger">(*)</span>
        are mandatory fields. Therefore, you must complete them to proceed.
      </strong>
    </small>    
  </div>
  <!-- Quiz Form -->
  <form method="POST" action="" enctype="multipart/form-data" class="mt-5">
    
    <!-- Quiz Section -->
    <div class="form-group mb-4">
      <label class="form-control-label">Enter the number of questions for quizz<span class="text-danger">*</span></label>
      <input class="form-control" type="number" name="NumberOfQuestions" placeholder="0" id="NumberOfQuestions" min="5" max="10" placeholder="Ex: 5">
      <div class="mt-2 text-danger" id="warningContainer"></div>
      <small class="text-body-secondary">Min 5, Max 10</small>

      <!-- Add fields for each question, options, and correct answer -->
      <div id="quizQuestionsContainer" class="my-3">
        <!-- Dynamic quiz input fields will be added here -->
      </div>
    </div>

    <!-- Project Section -->
    <div class="form-group mb-4">
      <label class="form-control-label">Number of Projects<span class="text-danger">*</span></label>
      <input class="form-control" type="number" name="NumberOfProjects" placeholder="0" id="NumberOfProjects" min="10" max="15">
      <small class="text-body-secondary">Min 10, Max 15</small>

      <!-- Add fields for each project title, requirements, etc. -->
      <div id="projectFieldsContainer" class="my-3">
        <!-- Dynamic project input fields will be added here -->
      </div>
    </div>

    <!-- Continue button and other controls -->
    <div class="d-flex justify-content-end gap-2 me-3">
      <button type="button" id="SaveToCloud" class="btn btn-secondary">
        <i class="bi bi-cloud-arrow-up-fill"></i>
        Save
      </button>
      <a href="{{ url_for('api.create_course_step1') }}" class="btn btn-outline-info">
        <i class="bi bi-arrow-left-circle"></i>
        Previous
      </a>
      <button type="button" disabled="disabled" id="continueButtonStep2" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
        Submit
        <i class="bi bi-send" id="arrow-next"></i>
      </button>
    </div>
  </form>
</div>
{% endblock %}
