{% extends 'apis/forms/create/courses/create-course-base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="display-1 text-primary">Quizz and Requirements Design <strong>.</strong></h2>
  <div class="py-2"></div>
  <div class="bg-gradient bg-primary border-start border-5 border-info px-3 py-5 shadow-md">
    <small class="text-light">
      <i class="bi bi-exclamation-circle-fill"></i> Note <br> 
      In this context, it is crucial to identify the <strong>materials</strong> necessary for participants to derive <strong>maximum</strong> benefit from your course. Additionally, we should determine the specific questions to pose, ensuring they effectively assess whether the participants have truly <strong>grasped</strong> the <strong>content</strong>. Congratulations this is your <strong>last step</strong>! Before publishing you course make sure that you've read our <a href="" class="exploreTemplates">instructor guide</a> in order to get the best of what is a true teaching in science and engineering. 
      <br>
      <hr>
      <strong>
        Fields marked with a red asterisk <span class="text-danger">(*)</span>
        are mandatory fields. Therefore, you must complete them to proceed.
      </strong>
    </small>    
  </div>
  <!-- Quiz Form -->
  <form method="POST" action="" enctype="multipart/form-data" class="mt-5">
    <!-- Quiz Section -->
    <div class="form-group mb-4">
      <label class="form-control-label">Enter the number of questions for quizz<span class="text-danger">*</span></label>
      <input class="form-control" type="number" name="NumberOfQuestions" placeholder="0" id="NumberOfQuestions" min="5" max="10" placeholder="Ex: 5">
      <div class="mt-2 text-danger" id="warningContainer"></div>
      <small class="text-body-secondary">Min 5, Max 10</small>

      <!-- Add fields for each question, options, and correct answer -->
      <div id="quizQuestionsContainer" class="my-3">
        <!-- Dynamic quiz input fields will be added here -->
      </div>
    </div>

    <!-- Project Section -->
    <div class="form-group mb-4">
      <label class="form-control-label">Number of Projects<span class="text-danger">*</span></label>
      <input class="form-control" type="number" name="NumberOfProjects" placeholder="Ex: 3" id="NumberOfProjects" min="10" max="15">
      <div class="mt-2 text-danger" id="projectWarningContainer"></div>
      <small class="text-body-secondary">Min 1, Max 3</small>

      <!-- Add fields for each project title, requirements, etc. -->
      <div id="projectFieldsContainer" class="my-3">
        <!-- Dynamic project input fields will be added here -->
      </div>
    </div>

    <div class="form-group mb-4">
      <label class="form-control-label">Course Duration<span class="text-danger">*</span></label>
      <div class="input-group mb-3">
        <input type="number" id="courseDurationInput" class="form-control" placeholder="Ex: 5">
        <span class="input-group-text bg-info bg-gradient" id="basic-addon1">Hours</span>
      </div>
      <div class="mt-2 text-danger" id="feedbackMessage"></div>
      <div class="text-body-secondary mt-3">
        <small>
          Please specify the duration of your <strong>course</strong> based on the length of your <strong>video</strong>. This information will assist <strong>students</strong> in understanding the time commitment <strong>required</strong>.
        </small>
      </div>
    </div>

    <div class="form-group mb-4">
      <label class="form-control-label" for="NumberOfRequirements">Please specify the number of requirements<span class="text-danger">*</span></label>
      <div class="form-group mb-3">
        <input type="number" class="form-control" placeholder="Ex: 5" id="NumberOfRequirements">
        <div class="mt-2 text-danger" id="requirementsWarningContainer"></div>
      </div>
      <div class="text-body-secondary mt-3">
        <small>
          In order to ensure a <strong>successful</strong> learning experience, we kindly request that you provide comprehensive details regarding the course <strong>prerequisites</strong>. This should encompass the essential <strong>skills</strong> and resources that students need to <strong>possess</strong> or <strong>acquire</strong> before undertaking the <strong>course</strong>.
        </small>
      </div>

      <!-- Add fields for each requirements -->
      <div id="requirementsFieldsContainer" class="my-3">
        <!-- Dynamic requirements input fields will be added here -->
      </div>
    </div>

    <!-- Authorization Checkbox -->
    <div class="form-check mt-4">
      <input class="form-check-input" type="checkbox" id="authorizationCheckbox">
      <label class="form-check-label" for="authorizationCheckbox">
        I authorize the publication of this course.
      </label>
    </div>
    <div id="authorizationWarningContainer" class="text-danger mt-1"></div>

    <!-- Academic Honesty Message -->
    <div class="text-body-secondary mt-3">
      <small>
        By submitting this course, I <strong>confirm</strong> my dedication to promoting <strong>academic honesty</strong> and <strong>integrity</strong>. I acknowledge that the materials provided are <strong>accurate</strong>, and I adhere to the principles of <strong>fair use</strong> and <strong>proper citation of sources</strong>.
      </small>
    </div>

    <div class="py-5"></div>
    <!-- Continue button and other controls -->
    <div class="d-flex justify-content-end gap-2 me-3">
      <button type="button" id="SaveToCloud2" class="btn btn-secondary">
        <i class="bi bi-cloud-arrow-up-fill" id="cloud2"></i>
        Save
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"><
      </button>
      <a href="{{ url_for('api.create_course_step2') }}" class="btn btn-info text-light">
        <i class="bi bi-arrow-left-circle"></i>
        Previous
      </a>
      <button type="button" id="SubmitButton" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
        Submit
        <i class="bi bi-send" id="arrow-next"></i>
      </button>
    </div>
  </form>
</div>
{% endblock %}
