<section>
    <div class="container col-xxl-8 px-5 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{url_for('static', filename='media/security_lock.svg')}}" class="d-block mx-lg-auto img-fluid" alt="secure" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 lh-1 mb-3" style="font-weight:500;color:rgb(1,16,89);">Ultra-Secure Payments<strong style="color:rgb(0,63,140)">.</strong></h1>
                <p class="lead">Enjoy the peace of mind with our ultra-secure payment system. We prioritize the safety and security of your transaction.</p>
                <div class="">
                    <a href="{{ url_for('main.ultra_secure_shop') }}" class="cta-discover">
                        <span class="text-discover">Learn more</span>
                        <i class="bi bi-arrow-right arrow-discover"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
