<section class="products d-flex flex-column gap-5 py-5 px-5" style="z-index:-3;background:linear-gradient(rgb(1,16,89)40%, rgb(7,95,195));;">
    <div><h3 class="text-center text-light display-4 border-bottom pb-5" style="font-weight:500;">Our products</h3></div>
    <div class="d-flex lg-flex-row md-flex-column justify-content-center flex-wrap gap-4">
        <div class="card shadow-lg" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">product1-title</h5>
              <p class="card-text">product-desc</p>
              <div class="bg-opacity-0 py-3"></div>
              <h6 class="text-primary border px-3 py-1 d-block w-50 border-primary rounded-3">$25</h6>
              <div class="bg-opacity-0 py-1"></div>
              <a href="#" class="btn py-1" style="background-color:rgb(0,63,140); color:white;"><i class="bi bi-cart4"></i>Buy Now</a>
              <div class="bg-opacity-0 py-1"></div>
            </div>
        </div>
        <div class="card  shadow-lg" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">product2-title</h5>
              <p class="card-text">product-desc</p>
              <div class="bg-opacity-0 py-3"></div>
              <h6 class="text-primary border px-3 py-1 d-block w-50 border-primary rounded-3">$25</h6>
              <div class="bg-opacity-0 py-1"></div>
              <a href="#" class="btn py-1" style="background-color:rgb(0,63,140); color:white;"><i class="bi bi-cart4"></i>Buy Now</a>
              <div class="bg-opacity-0 py-1"></div>
            </div>
        </div>
        <div class="card  shadow-lg" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">product3-title</h5>
                <p class="card-text">product-desc</p>
              <div class="bg-opacity-0 py-3"></div>
              <h6 class="text-primary border px-3 py-1 d-block w-50 border-primary rounded-3">$25</h6>
              <div class="bg-opacity-0 py-1"></div>
              <a href="#" class="btn py-1" style="background-color:rgb(0,63,140); color:white;"><i class="bi bi-cart4"></i>Buy Now</a>
              <div class="bg-opacity-0 py-3"></div>
            </div>
        </div>
    </div>
    <div class="mx-auto">
        <button class="btn btn-outline-light">More<i class="bi bi-arrow-right"></i></button>
    </div>
</section>