
<section id="about" class="course-section hero-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-start">
                <div class="py-5"></div>
                <div class="py-4"></div>
                <h1 class="text-light display-1 course-title">{{ course.course_title | capitalize }}.</h1>
                <div class="d-flex align-items-center">
                    <span class="me-2 text-light">
                        <i class="bi bi-pencil-square me-2"></i>
                        By {{ course.author_name | capitalize }} 
                    </span>
                </div>
                <div class="mt-2 text-info">
                    <i class="bi bi-alarm-fill"></i>
                    <span>{{ course.dutation }} Hours</span>
                </div>
                <div class="py-2"></div>
                <div class="mb-5">
                    <a href="" class="btn btn-light btn-lg px-4">Get Started</a>
                </div>
                <div class="py-5"></div>
            </div>
        </div>
    </div>
</section>
