<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Sign up form">
		<meta name="keywords" content="Account, User, Create Your Account">
		<meta name="author" content="bytesprint LLC">
		<title>Bytesprint: Create your account</title>
		<!--fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gajraj+One&family=Gloock&family=Inter:wght@100;
		200;300;900&family=Open+Sans:wght@300&family=Poppins:wght@400;500;900&family=Questrial&family=Roboto:ital,
		wght@0,900;1,700&family=Urbanist:wght@800&display=swap" rel="stylesheet">
		<!-- Favicons -->
		<link rel="apple-touch-icon" href="{{url_for('static', filename='media/favicons/apple-touch-icon.png')}}" sizes="180x180">
		<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon-32x32.png')}}" sizes="32x32" type="image/png">
		<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon-16x16.png')}}" sizes="16x16" type="image/png">
		<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon.png')}}" type="image/png">
		<link rel="shortcut icon" href="{{url_for('static', filename='media/favicons/favicon.png')}}" type="image/png">
		<!--bootstrap style-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
		<!--bootstrap grid style-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-grid.css')}}">
		<!--custom style-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/form-signup-custom.css')}}">
		<!-- bootstrap-icons-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<!--Jquery-->
		<script src="{{url_for('static', filename='js/jquery-3.7.0.js.js')}}" type="text/javascript"></script>
    	<!--show password script-->
    	<script src="{{url_for('static', filename='js/showpass-script.js')}}"></script>
    	<!--Google login-->
	    <script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	<body>
		<div class="container col-xl-10 col-xxl-8 px-3">
			<div class="row align-items-center g-lg-5 py-2">
				<div class="col-lg-6 text-start d-flex flex-column gap-2" id="cool-alerts">
					<div class="alert-use">
						<div class="alert welcome shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-info-circle-fill"></i>
								Step 1:4
							</h4>
							<p>
								Aww yeah, You are taking a great change in your 
								life by creating an account. You're making the first step to a new world, new opportunities.
							</p>
							<hr>
							<p class="mb-0">
								Read our tips and tricks below on how to complete this form like a pro.
							</p>
						</div>
						<div class="alert astuce shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-lightbulb"></i>
								Tips & Tricks
							</h4>
							<p>
								At this point, we're asking you to provide your first name 
								and your last name as you want them to appear on your certifications and IQ tests. 
								Don't forget your Email.
							</p>
						</div>
					</div>
					<div class="alert-use">
						<div class="alert welcome shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-info-circle-fill"></i>
								Step 2:4
							</h4>
							<p>
								Great! You seem to be smart. 
								Now, you are going to create a strong password to secure your data.
							</p>
							<hr>
							<p class="mb-0">
								Read our tips and tricks below on how to complete this form like a pro.
							</p>
						</div>
						<div class="alert astuce shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-lightbulb"></i>
								Tips & Tricks
							</h4>
							<p>
								Success has a cost, that's why you need to protect 
								things like your subscriptions, your scores, etc. Create a password 
								that contains at least <strong>08 characters</strong>, <strong>01 digit</strong>, 
								<strong>01 uppercase letter</strong>, <strong>01 special character</strong> so that only you will know it!
							</p>
						</div>
					</div>
					<div class="alert-use">
						<div class="alert welcome shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-info-circle-fill"></i>
								Step 3:4
							</h4>
							<p>
								Aww yeah, You mean a lot to us.
							</p>
							<hr>
							<p class="mb-0">
								bytesprint is a <strong>computer science</strong> and <strong>tech</strong> online learning platform (the best!) that is firmly committed to its <strong>non-discrimination</strong> policy. We believe in creating an <strong>inclusive</strong> learning environment where everyone is treated with <strong>respect</strong> and <strong>fairness</strong>, regardless of their <strong>background</strong>, <strong>gender</strong>, <strong>sexual orientation</strong>, <strong>religion</strong>, or any other <strong>personal characteristic</strong>. As a community, we celebrate <strong>diversity</strong> and value the unique <strong>contributions</strong> of each <strong>learner</strong>. Our <strong>commitment</strong> to this <strong>policy</strong> reflects our determination to cultivate a space where all individuals can thrive and reach their  <strong>full potential</strong>.
							</p>
						</div>
						<div class="alert astuce shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-lightbulb"></i>
								Tips & Tricks
							</h4>
							<p>
								Your gender and location mean a lot to us as they allow us 
								to create a more personalized experience that fits your own personal situation 
								and personality.
							</p>
						</div>
					</div>
					<div class="alert-use">
						<div class="alert welcome shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-info-circle-fill"></i>
								Step 4:4
							</h4>
							<p>
								It's a great pleasure to have a genius like you on our platform.
							</p>
							<hr>
							<p class="mb-0">
								Read our tips and tricks below on how to complete this form like a pro.
							</p>
						</div>
						<div class="alert astuce shadow-lg" role="alert">
							<h4 class="alert-heading">
								<i class="bi bi-lightbulb"></i>
								Tips & Tricks
							</h4>
							<p>
								Now, just after you hit the Sign up button, you will receive an email that contains a
								<strong>06 digits</strong> security code. It's your confirmation code, so don't share it 
								with anyone else. You will use this code to access the login portal, so please remember the 
								information you entered. You can revisit your information by going back. You can always change 
								your <strong>password</strong> or email if you can't remember them later. Welcome again <span id="username"></span>!
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 mx-auto col-lg-6 bg-body-tertiary border shadow-lg rounded-4">
					<form id="stepByStepForm"  method="POST" action="{{ url_for('auth.register') }}">
						<div class="step" id="step-1">
							<h2 class="text-secondary my-4">Personal informations</h2>
							{{  form.hidden_tag() }}
							{{ form.last_name.label }}
							{{ form.last_name(class='form-control mt-2', placeholder='Max', id='last_name') }}
							<small class="name-error-msg text-danger my-4">
								<i class="bi bi-exclamation-circle"></i> A First name should contain letters only, digits and special characters are not allowed.
							</small>
							{{ form.first_name.label }}
							{{ form.first_name(class='form-control mt-2', placeholder='Stevens Cooper', id='first_name') }}
							<small class="prename-error-msg text-danger my-4">
								<i class="bi bi-exclamation-circle"></i> A Last name should contain letters only, digits and special characters are not allowed.
							</small>
							{{ form.email.label }}
							{{ form.email(class='form-control mt-2', placeholder='someone@gmail.com', id='email') }}
							<small class="email-error-msg text-danger">
								<i class="bi bi-exclamation-circle"></i> Invalid email!
							</small>
							<small>
								{% with messages = get_flashed_messages(with_categories=true) %}
								    {% if messages %}
								        {% for category, message in messages %}
								            <small class="alert {{ category }} warning">
								                {% if category == 'success' %}
								                    <i class="bi bi-check-circle"></i>
								                {% elif category == 'error' %}
								                    <i class="bi bi-exclamation-circle"></i>
								                {% endif %}
								                {{ message }}
								            </small>
								        {% endfor %}
								    {% endif %}
								{% endwith %}
							</small>
							<div class="d-flex justify-content-end">
								<button class="nextBtn my-2" type="button">Next</button>
							</div>
						</div>						
						<div class="step" id="step-2">
							{{  form.hidden_tag() }}
							<h2 class="text-secondary my-3">Password Setup</h2>
							<div class="form-floating mt-3">
								{{ form.password(class='form-control pass', id='floatingPassword', placeholder='Password', type='password') }}
								{{ form.password.label }}
								<button id="showPass" type="button">
									<i class="bi bi-eye"></i>
									<i class="bi bi-eye-slash" style="display:none;"></i>
								</button>
								<div id="barOverlay"></div>
							</div>      
							<div class="form-floating mt-3">
								{{ form.password2(class='form-control pass', id='floatingPassword2', placeholder='Password', type='password') }}
								{{ form.password2.label }}
							</div>      
							<ul class="list-unstyled py-3 text-danger">
								<li class="password-condition">
									<i class="bi bi-x-circle-fill condition-icon"></i>
									<i class="bi bi-check-circle-fill condition-icon" style="display:none;"></i>
									<span class="condition-text" data-regex=".{8,}">
										A password must contain at least 08 characters
									</span>
								</li>
								<li class="password-condition">
									<i class="bi bi-x-circle-fill condition-icon"></i>
									<i class="bi bi-check-circle-fill condition-icon" style="display:none;"></i>
									<span class="condition-text" data-regex=".*\d">
										A password must contain at least 01 digit
									</span>
								</li>
								<li class="password-condition">
									<i class="bi bi-x-circle-fill condition-icon"></i>
									<i class="bi bi-check-circle-fill condition-icon" style="display:none;"></i>
									<span class="condition-text" data-regex=".*[A-Z]">
										A password must contain at least one capital letter
									</span>
								</li>
								<li class="password-condition">
									<i class="bi bi-x-circle-fill condition-icon"></i>
									<i class="bi bi-check-circle-fill condition-icon" style="display:none;"></i>
									<span class="condition-text" data-regex=".*[!@#$%^&*()]">
										A password must contain at least one special character
									</span>
								</li>
								<li class="password-condition">
									<i id="equal-icon" class="bi bi-x-circle-fill condition-icon"></i>
									<i class="bi bi-check-circle-fill condition-icon" style="display:none;"></i>
									<span class="condition-text" id="equality-text" data-regex="{{ form.password.label.text }}">
										The two passwords must match
									</span>
								</li>
							</ul>							
							<div class="d-flex justify-content-end my-2">
								<button class="nextBtn" id="passwdbtn" type="button">Next</button>
								<button class="prevBtn" type="button">Previous</button>
							</div>
						</div>
						<div class="step" id="step-3">
							{{  form.hidden_tag() }}
							<h2 class="text-secondary my-4">Geographic informations</h2>
							<small class="text-body-secondary">
								Fields marked with a red asterisk <span class="text-danger">(*)</span>
								are mandatory fields. Therefore, you must complete them to proceed.
							</small>
							<div class="mt-3">
								{{ form.country.label }}<sup class="text-danger">*</sup>
								{{ form.country(class='form-select mt-2', id='country', required='required') }}
							</div>
							<div class="mt-3">
								{{ form.sexe.label }}<sup class="text-danger">*</sup>
								{{ form.sexe(class='form-select mt-2', id='sexe', required='required') }}
							</div>
							<div class="d-flex justify-content-end my-4">
								<button class="nextBtn" type="button">Next</button>
								<button class="prevBtn" type="button">Previous</button>
							</div>
						</div>
						<div class="step" id="step-4">
							{{  form.hidden_tag() }}
							<h2 class="text-secondary my-4">Age & Privacy infos</h2>
							<small class="text-body-secondary">
								We will use your age to provide you with an overview of your cognitive 
								abilities (WAIS-IV) in order to assign more objective scores during assessments.
							</small>							
							<div class="mt-3">
								{{ form.age.label }} <em class="text-secondary" style="font-family:'Times New Roman', Times, serif;">(optional)</em>
								{{ form.age(class='form-select mt-2', id='age') }}
							</div>
							<div class="my-3 form-check form-check-inline">
								{{ form.privacy_policy_agreement(class='form-check-input', id='flexCheckDefault') }}
								<label class="form-check-label" for="flexCheckDefault">
									{{ form.privacy_policy_agreement.label.text | safe }}
								</label>
							</div>							
							<div class="d-flex justify-content-end gap-1 my-4">
								{{ form.submit(class="submit") }}
								<div><button class="prevBtn" type="button">Previous</button></div>
							</div>
						</div>
						<hr>
						<div>
							<div class="d-flex flex-column gap-2 justify-content-center text-center">
								<a href="{{ url_for('auth.google_signup') }}" class="g-signin2">
									<i class="bi bi-google"></i>
									Sign up with Google
								</a>
								<a href="" class="facebook-signup" id="">
									<i class="bi bi-facebook"></i>
									Sign up Facebook
								</a>
							</div>
							<div class="mt-4 text-start copyright-info">
								Do you already have an account? please log in <a href="{{url_for('auth.login')}}">here</a> . forgot password? please reset it <a href="{{url_for('auth.password_reset_request')}}">here</a> .
							</div>
						</div>
						<div class="container" style="margin:1.8em 0;">
							<div class="general-info">
								<div class="copyright-info pt-2">&copy; 2023 bytesprint, LLC.</div>
								<div class="btn-group dropup lang-select">
									<select class="form-select form-select-sm lang-select" aria-label=".form-select-sm example">
										<option value="fr" data-thumbnail="{{ url_for('static', filename='media/france.svg') }}" selected>Français (France)</option>
										<option value="us" data-thumbnail="{{ url_for('static', filename='media/great_britain.svg') }}">English (US)</option>
										<option value="uk" data-thumbnail="{{ url_for('static', filename='media/flag-uk.png') }}">English (UK)</option>
										<option value="es" data-thumbnail="{{ url_for('static', filename='media/flag-es.png') }}">Español (España)</option>
										<option value="de" data-thumbnail="{{ url_for('static', filename='media/flag-de.png') }}">Deutsch (Deutschland)</option>
									</select>                                 
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--name validators scripts-->
		<script src="{{ url_for('static', filename='js/name-validator-script.js') }}"></script>
		<!--password checker script-->
		<script src="{{ url_for('static', filename='js/password-checker.js') }}"></script>
		<!--multistep form script-->
		<script src="{{ url_for('static', filename='js/multistep-form-script.js') }}" type="text/javascript"></script>
		<!--bundle-->
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
		<script>
        $(document).ready(function() {
            setTimeout(function() {
                $(".warning").fadeOut("slow");
            }, 5000);
        });
    	</script>
	</body>
</html>