<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Skills You Will Gain</h1>
			<div class="d-flex flex-wrap gap-2 py-5" style="font-size: 2rem;">
			  <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">Data Exploration</span>
			  <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">Predictive Modeling</span>
			  <span class="badge bg-success-subtle text-success-emphasis rounded-pill">Machine Learning</span>
			  <span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">Statistical Analysis</span>
			  <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">Natural Language Processing</span>
			  <span class="badge bg-info-subtle text-info-emphasis rounded-pill">Data Cleaning and Preprocessing</span>
			  <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Big Data Technologies</span>
			  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Data Visualization</span>
			  <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">Python Programming</span>
			  <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">SQL</span>
			  <span class="badge bg-success-subtle text-success-emphasis rounded-pill">Deep Learning</span>
			  <span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">Distributed Computing</span>
			</div>
		</div>
	</div>
</div>