<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<section class="d-flex flex-column gap-4 mb-5"  style="padding:5em 2em;">
			    <h4 class="text-center display-3" style="font-family:'Telegraf-UltraBold', sans-serif;">FAQs</h4>
			    <div class="accordion" id="accordionExample">
			        <div class="accordion-item">
			          <h2 class="accordion-header FAQs">
			            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			              What are the different accepted payment methods?
			            </button>
			          </h2>
			          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
			            <div class="accordion-body hero-paragraph">
			              <strong>We accept Visa, MasterCard, and American Express, in addition to various other verified payment methods.</strong>
			            </div>
			          </div>
			        </div>
			        <div class="accordion-item">
			          <h2 class="accordion-header FAQs">
			            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			              Do I neeed to get access to a stable internet connexion in order to learn?
			            </button>
			          </h2>
			          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			            <div class="accordion-body hero-paragraph">
			              <strong>Yes! but if you don't have access to a reliable internet 
			                connection you can save your courses for later so that you will have an offline access!</strong>
			            </div>
			          </div>
			        </div>
			        <div class="accordion-item">
			          <h2 class="accordion-header FAQs">
			            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			              Can I get a job after completing bytesprint trainings?
			            </button>
			          </h2>
			          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			            <div class="accordion-body hero-paragraph">
			              <strong>You can definitely get a job trough bytesprint's curriculums, 
			                many of our graduates are working at great tech company, some of them have built their own companies</strong>
			            </div>
			          </div>
			        </div>
			    </div>
			</section>
		</div>
	</div>
</div>