/* Customize the accordion header and body */
.accordion-item {
  background-color: #f8f9fa; /* Set the background color for accordion items */
  border: 1px solid #dcdfe0; /* Set the border color */
  border-radius: 0.25rem; /* Optional: Add border-radius for a rounded look */
}

.accordion-button {
  background-color: #007bff; /* Set the background color for accordion buttons */
  color: #fff; /* Set text color */
}

.accordion-body {
  background: linear-gradient(45deg, #007bff, #0056b3); /* Apply a blue gradient to accordion body */
  color: #fff; /* Set text color */
}

/* Optional: Style for collapsed accordion buttons */
.accordion-button.collapsed .darked-blue{
  background-color: #007bff;
  color:#fff;
}
.accordion-button a{
  text-decoration: none;
  color:#fff;

}
.accordion-button .darked-blue{
  color:#0056b3;
}
.accordion-body a{
  text-decoration: none;
  color:#fff;
  margin-bottom:10px;  
}
.accordion-body a:visited{
  background-color:#fff;
  color:#0056b3;
  padding:0.5em 0.5em;
  border-radius:20px;
}

/* Fix the sidebar with a box shadow */
nav.sidebar {
  position:fixed;
  height:100vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Sidebar Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container-fluid {
    display: flex;
    flex: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure the sidebar stays above other content */
    overflow-y: auto; /* Allow vertical scrolling if content exceeds the viewport */
}

main {
    flex: 1;
    padding: 15px;
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: static;
        box-shadow: none;
    }
}
