<!--certifications-->
<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6"><img src="{{ url_for('static', filename='media/certificate.png') }}" class="d-block mx-lg-auto img-fluid" alt="certifications" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 lh-1 mb-3" style="font-weight:500;color:rgb(1,16,89);font-family:'Telegraf-Ultrabold', sans-serif">Earn verified certifications.<h1>
                <p class="lead">
                  You can earn <strong style="font-family:'Telegraf-Ultrabold', sans-serif">verified certifications </strong>on our <strong style="font-family:'Telegraf-Ultrabold', sans-serif">platform</strong>, voilier, 
                  to validate your <strong style="font-family:'Telegraf-Ultrabold', sans-serif">skills</strong> and<strong style="font-family:'Telegraf-Ultrabold', sans-serif">knowledge</strong>. These certifications provide 
                  <strong style="font-family:'Telegraf-Ultrabold', sans-serif">official recognition</strong> of your <strong style="font-family:'Telegraf-Ultrabold', sans-serif">expertise</strong> in various subjects, ensuring 
                  that you have the <strong style="font-family:'Telegraf-Ultrabold', sans-serif">credentials</strong> and credibility to excel in your chosen field.
                  Whether you're looking to <strong style="font-family:'Telegraf-Ultrabold', sans-serif">advance</strong> your career, <strong style="font-family:'Telegraf-Ultrabold', sans-serif">enhance</strong> your professional profile, 
                  or simply acquire <strong style="font-family:'Telegraf-Ultrabold', sans-serif">new skills</strong>, <strong style="font-family:'Telegraf-Ultrabold', sans-serif">voilier's certifications</strong> can help you achieve your goals 
                  while <strong style="font-family:'Telegraf-Ultrabold', sans-serif">showcasing</strong> your competence to <strong style="font-family:'Telegraf-Ultrabold', sans-serif">employers</strong> and <strong style="font-family:'Telegraf-Ultrabold', sans-serif">peers</strong>.
                </p>
                <a href="" class="icon-link icon-link-hover cta-savoir-plus">
                  <span class="mt-2" style="font-size:1.2rem;">Learn more</span>
                  <i class="bi bi-arrow-right"  style="font-size:1.2rem;"></i>
                </a>
              </div>
        </div>
    </div>
</section>
<!--end certifications-->
