<section class="courses-section shadow-lg">
    <div class="container px-0 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom courses-head ms-2" style="font-family:'Telegraf-Ultrabold', sans-serif">Our Courses and Trainings</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
              <div class="col d-flex align-items-start">
                <div class="px-2 py-2 ms-2 me-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140);">
                  <img src="{{url_for('static', filename='media/unity.png')}}" loading="lazy" alt="Unity" style="max-width:50px;">
                </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Game Design</h3>
              <p class="features-description-text">
                Craft amazing Unity games. Explore game dev, create interactive experiences
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/deep_learning.png')}}" loading="lazy" alt="deep learning" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Artificial Intelligence</h3>
              <p class="features-description-text">
                Discover AI's world, its applications. Join our course, unlock AI's power.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/web_dev.png')}}" loading="lazy" alt="web_dev" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Web</h3>
              <p class="features-description-text">
                Create, maintain websites, apps online.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/devOps.png')}}" loading="lazy" alt="devOps" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">DevOps</h3>
              <p class="features-description-text">
                Master DevOps principles, enhance software development, optimize with our course.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
                <img src="{{url_for('static', filename='media/cyber.png')}}" loading="lazy" alt="cyber" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Cybersecurity</h3>
              <p class="features-description-text">
                Cybersecurity protects systems, data from threats, unauthorized access.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/data_science.png')}}" loading="lazy" alt="Android" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Data Science</h3>
              <p class="features-description-text">
                Data science: interdisciplinary, extracts insights from data using methods.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/artificial_intelligence.png')}}" loading="lazy" alt="artificial_intelligence" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Robotics</h3>
              <p class="features-description-text">
                The field of robotics combines mech and elec eng, comp sci, AI, and control systems.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="px-2 py-2 me-2 ms-2" style="border-bottom-right-radius:20px;max-width:75px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/bitcoin.png')}}" loading="lazy" alt="bitcoin" style="max-width:50px;">
            </div>
            <div>
              <h3 class="mb-0 fs-4 text-body-emphasis features-description">Cryptocurrencies</h3>
              <p class="features-description-text">
                Cryptos: digital, use crypto for security, run on blockchain.
              </p>
            </div>
          </div>
        </div>
    </div>			
</section>
<!--end courses section-->

