<!--offer section-->
<section class="offer-section shadow-lg d-flex flex-column gap-2">
    <h4 class="text-light display-5" style="font-family:'Telegraf-Ultrabold', sans-serif">Affordability means a lot to us</h4>
    <p class="lead text-light col-xxl-8">
        We are dedicated to ensuring that our platform is <strong style="font-family:'Telegraf-Ultrabold', sans-serif">inclusive</strong> and usable by everyone, regardless of their <strong style="font-family:'Telegraf-Ultrabold', sans-serif">financial abilities</strong> that's why we provide comprehensive <strong style="font-family:'Telegraf-Ultrabold', sans-serif">financial aid packages </strong>for each training.
    </p>
    <a href="{{ url_for('main.financial_aid') }}" class="icon-link icon-link-hover text-light" style="text-decoration: none;">
        <span class="mt-2">Learn More</span>
        <i class="bi bi-arrow-right arrow-discover"></i>
    </a>
</section>
<!--end offer section-->