<!--courses philosophy-->
<section class="courses philosophy">
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{url_for('static', filename='media/radar_plot.svg')}}" class="d-block mx-lg-auto img-fluid" alt="philosophy" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 lh-1 mb-3" style="font-weight:500;color:rgb(1,16,89);font-family:'Telegraf-UltraBold', sans-serif";>Our Philosophy</h1>
					<p class="lead doc-paragraph">
						Our philosophy revolves around <strong style="font-family:'Telegraf-UltraBold', sans-serif";>empowering</strong> individuals to unlock their <strong style="font-family:'Telegraf-UltraBold', sans-serif";>full potential</strong>. We believe in training 
						you to think like a <strong style="font-family:'Telegraf-UltraBold', sans-serif";>genius</strong> and a <strong style="font-family:'Telegraf-UltraBold', sans-serif";>problem solver</strong>. By nurturing <strong style="font-family:'Telegraf-UltraBold', sans-serif";>critical thinking</strong>, <strong style="font-family:'Telegraf-UltraBold', sans-serif";>creativity</strong>, and <strong style="font-family:'Telegraf-UltraBold', sans-serif";>problem-solving skills</strong>, 
						we aim to equip you with the tools needed to <strong style="font-family:'Telegraf-UltraBold', sans-serif";>tackle challenges</strong> and create <strong style="font-family:'Telegraf-UltraBold', sans-serif";>innovative solutions</strong>. We're committed to fostering 
						a mindset that embraces <strong style="font-family:'Telegraf-UltraBold', sans-serif";>curiosity</strong>, <strong style="font-family:'Telegraf-UltraBold', sans-serif";>continuous learning</strong>, and the courage to <strong style="font-family:'Telegraf-UltraBold', sans-serif";>explore</strong> new <strong style="font-family:'Telegraf-UltraBold', sans-serif";>horizons</strong>. Our <strong style="font-family:'Telegraf-UltraBold', sans-serif";>philosophy</strong> is rooted in 
						the <strong style="font-family:'Telegraf-UltraBold', sans-serif";>belief</strong> that by thinking like a genius and a problem solver, you can not only <strong style="font-family:'Telegraf-UltraBold', sans-serif";>overcome obstacles</strong> but also drive <strong style="font-family:'Telegraf-UltraBold', sans-serif";>positive 
						change</strong> and make a <strong style="font-family:'Telegraf-UltraBold', sans-serif";>meaningful impact</strong> in your <strong style="font-family:'Telegraf-UltraBold', sans-serif";>endeavors</strong>.
					</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					    <a href="" class="icon-link icon-link-hover cta-savoir-plus">
						<span class="mt-2">Learn More</span>
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--end courses philosophy-->
