<!--lancez-vous-->
	<section class="rocket-cta">
		<div class="container col-xxl-8 px-4 py-3">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6" id="slide">
					<img src="{{url_for('static', filename='media/newtonsoft.svg')}}" class="d-block mx-lg-auto img-fluid" alt="rocket" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6 d-flex flex-column gap-4">
					<h1 class="display-4" style="font-family:'Telegraf-UltraBold', sans-serif;color:white;">Get Started!</h1>
					<p class="lead text-light hero-paragraph">
						<strong style="font-family:'Telegraf-UltraBold', sans-serif;">"Pursue your dreams"</strong> – a simple yet profound mantra that serves as a guiding principle for those with <strong style="font-family:'Telegraf-UltraBold', sans-serif;">ambition</strong> 
						and vision. To pursue your dreams is to embark on a journey of <strong style="font-family:'Telegraf-UltraBold', sans-serif;">self-discovery</strong> and <strong style="font-family:'Telegraf-UltraBold', sans-serif;">growth</strong>, daring to chase after your <strong style="font-family:'Telegraf-UltraBold', sans-serif;">passions</strong> 
						and <strong style="font-family:'Telegraf-UltraBold', sans-serif;">aspirations</strong>. It's a c<strong style="font-family:'Telegraf-UltraBold', sans-serif;">all to action</strong>, an encouragement to <strong style="font-family:'Telegraf-UltraBold', sans-serif;">break free</strong> from the <strong style="font-family:'Telegraf-UltraBold', sans-serif;">constraints</strong> of <strong style="font-family:'Telegraf-UltraBold', sans-serif;">doubt</strong> and <strong style="font-family:'Telegraf-UltraBold', sans-serif;">fear</strong>, and to <strong style="font-family:'Telegraf-UltraBold', sans-serif;">follow</strong> 
						your <strong style="font-family:'Telegraf-UltraBold', sans-serif;">heart's desires</strong>. This pursuit may not always <strong style="font-family:'Telegraf-UltraBold', sans-serif;">be easy</strong>, but it's where <strong style="font-family:'Telegraf-UltraBold', sans-serif;">innovation</strong> and success find their <strong style="font-family:'Telegraf-UltraBold', sans-serif;">roots</strong>. So, <strong style="font-family:'Telegraf-UltraBold', sans-serif;">don't 
						hesitate</strong>, take that <strong style="font-family:'Telegraf-UltraBold', sans-serif;">first step</strong>, and let your <strong style="font-family:'Telegraf-UltraBold', sans-serif;">dreams</strong> become your <strong style="font-family:'Telegraf-UltraBold', sans-serif;">reality</strong>. Your journey begins with the <strong style="font-family:'Telegraf-UltraBold', sans-serif;">decision</strong> to pursue your dreams.
					</p>
					<div class="">
					  	<a href="{{ url_for('auth.register') }}" class="cta-discover enroll">
							<i class="bi bi-person-add arrow-discover"></i>
							<span class="text-discover">Get Started Now!</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--end lancez-vous-->
