<!--documentation section-->
<section class="documentation-cool d-flex flex-column gap-2">
    <h4 class="text-light display-5 FAQs" style="font-family:'Telegraf-UltraBold', sans-serif;
">Discover Our Large Scientific Documentation</h4>
    <p class="lead offer-paragraph text-light col-xxl-8">
        At the heart of our commitment to <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">knowledge</strong> and <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">advancement</strong> lies a treasure trove of extensive <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">scientific 
        documentation</strong>. We invite you to embark on a journey of <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">exploration</strong> and <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">learning</strong> through a <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">wealth</strong> of <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">research papers</strong>, <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">studies</strong>, 
        and <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">resources</strong> that span a wide <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">spectrum</strong> of <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">scientific disciplines</strong>. Our collection is designed to quench your thirst for <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">knowledge</strong>, support your <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">academic pursuits</strong>, and fuel your <strong style="font-family:'Telegraf-UltraBold', sans-serif;
">curiosity</strong>.
    </p>
    <a href="{{ url_for('main.doc') }}" style="color:white;text-decoration:none;font-family:'NeueMachina-Regular', sans-serif;">
        <span class="mt-2">Explore</span>
        <i class="bi bi-arrow-right"></i>
    </a>
</section>
<!--end documentation section-->