<!-- Testimonials -->
<section class="" style="padding: 12em 5em; background: linear-gradient(rgb(7, 95, 195) 60%, rgb(1, 16, 89)); color: white;">
  <div class="d-flex flex-column justify-content-center gap-5 mb-5">
      <h2 style="font-family:'Telegraf-UltraBold', sans-serif;">Meet Our Graduates.</h2>
      <p class="lead hero-paragraph">
          Meet some of our accomplished graduates who are now making an impact at leading tech companies.
      </p>
  </div>
  <div class="row mt-2">
      <div class="col-lg-4 d-flex flex-column gap-2">
          <img class="rounded-circle" width="140" height="140" src="{{ url_for('static', filename='media/Steve.jpg') }}">
          <h2 class="fw-normal mt-2" style="font-family:'Telegraf-UltraBold', sans-serif;">Stevie Clark</h2>
          <p class="hero-paragraph">Stevie is a software engineer at Playstation. His expertise in AI and machine learning has contributed to innovative projects.</p>
      </div>
      <div class="col-lg-4 d-flex flex-column gap-2">
          <img class="rounded-circle" width="140" height="140" src="{{ url_for('static', filename='media/Alice.jpg') }}">
          <h2 class="fw-normal mt-2" style="font-family:'Telegraf-UltraBold', sans-serif;">Alice White</h2>
          <p class="hero-paragraph">Alice is a data scientist at Meta Platforms. Her work on big data analytics has transformed business strategies.</p>
      </div>
      <div class="col-lg-4 d-flex flex-column gap-2">
          <img class="rounded-circle" width="140" height="140" src="{{ url_for('static', filename='media/Elysée.jpg') }}">
          <h2 class="fw-normal mt-2" style="font-family:'Telegraf-UltraBold', sans-serif;">Elysée Wong</h2>
          <p class="hero-paragraph">Elysée is a software developer at InnovateTech Inc. Her coding skills have led to the success of various applications.</p>
      </div>
  </div>
</section>
<!-- End Testimonials -->
