<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      	<div class="col-10 col-sm-8 col-lg-6">
        	<img src="{{ url_for('static', filename='media/master.png') }}" class="d-block mx-lg-auto img-fluid" alt="master" width="700" height="500" loading="lazy">
      	</div>
      	<div class="col-lg-6">
	       <h1 class="display-1 fw-bold lh-2 mb-3 text-primary">Unlock the Secrets of Mastery.</h1>
	        <p class="lead">
	        	<strong>Embark on a journey of profound wisdom and creativity</strong> as we delve into courses that transcend conventional boundaries. We shatter the mundane and challenge our students with <strong>enigmatic problems</strong>, guiding them through the secrets of <strong>engineering mastery</strong>.
	        </p>
      	</div>
    </div>
</div>
