<div class="container col-xxl-8 px-4 py-2">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h4 class="display-5 fw-bold lh-2 mb-3">What are you going to <strong>create</strong> today <br> <strong>{{ current_user.first_name }}</strong> ?</h4>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <div class="d-flex flex-column gap-2 mt-3">
        <a href="{{ url_for('api.course_create_form') }}" class="btn btn-lg btn-primary">
          <i class="bi bi-plus-circle-dotted"></i>
          Create a new course
        </a>
        <a href="{{ url_for('api.curriculum_create_form') }}" class="btn btn-lg btn-outline-primary">
          <i class=""></i>
          Craft a new curriculum
        </a>
      </div>
    </div>
  </div>
</div>