<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Overview</h1>
			<p class="lead">
			    Explore the fascinating world of Cryptocurrency Development. In this course, you will delve into the intricate details of blockchain technology, smart contracts, and decentralized applications (DApps). Gain insights into cryptocurrency security, economics, and the principles behind consensus algorithms. Join us on this journey 
			    to understand tokenomics, smart contract auditing, and the regulatory landscape of the cryptocurrency industry.
			</p>
		</div>	
	</div>
</div>