<div class="py-2"></div>
<div class="container-fluid">
    <div class="row g-5">
        <div class="col-md-8 offset-md-2 text-start">
            <div class="col-md-6">
              <h2 class="text-body-emphasis">Starter projects</h2>
              <p>Ready to go beyond the basics? Explore these open-source projects in the realm of Cryptocurrency Development. Feel free to clone them and kickstart your journey.</p>
              <ul class="list-unstyled ps-0">
                <li>
                  <a class="" href="https://github.com/crypto-examples/npm-starter" rel="noopener" target="_blank">
                    crypto-starter-kit
                  </a>
                </li>
                <li>
                  <a class="" href="https://github.com/crypto-examples/parcel-starter" rel="noopener" target="_blank">
                    blockchain-essentials-seed
                  </a>
                </li>
                <li>
                  <a class="" href="https://github.com/crypto-examples/vite-starter" rel="noopener" target="_blank">
                    decentralized-app-template
                  </a>
                </li>
                <li>
                  <a class="" href="https://github.com/crypto-examples/webpack-starter" rel="noopener" target="_blank">
                    cryptocurrency-seed-project
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <h2 class="text-body-emphasis">Guides</h2>
              <p>Discover in-depth instructions and documentation on Cryptocurrency Development. Whether you're a beginner or an experienced developer, these guides provide valuable insights.</p>
              <ul class="list-unstyled ps-0">
                <li>
                  <a class="" href="../crypto-getting-started/introduction/">
                    Getting Started with Cryptocurrency Development
                  </a>
                </li>
                <li>
                  <a class="" href="../crypto-getting-started/webpack/">
                    Blockchain Development Essentials Guide
                  </a>
                </li>
                <li>
                  <a class="" href="../crypto-getting-started/parcel/">
                    Decentralized App Development Basics
                  </a>
                </li>
                <li>
                  <a class="" href="../crypto-getting-started/vite/">
                    Cryptocurrency Development: Step-by-Step Guide
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>    
</div>
