<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Skills You Will Gain</h1>
			<div class="d-flex flex-wrap gap-2 py-5" style="font-size: 1.8rem;">
			    <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">HTML5 Markup</span>
			    <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">CSS3 Styling</span>
			    <span class="badge bg-success-subtle text-success-emphasis rounded-pill">Responsive Design</span>
			    <span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">Cross-browser Compatibility</span>
			    <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">JavaScript Fundamentals</span>
			    <span class="badge bg-info-subtle text-info-emphasis rounded-pill">React</span>
			    <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Node.js</span>
			    <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">MongoDB</span>
			    <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">JQuery</span>
			    <span class="badge bg-info-subtle text-info-emphasis rounded-pill">Linux</span>
			    <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">AJAX</span>
			</div>
		</div>
	</div>
</div>