<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Overview</h1>
			<p class="lead">
			    Our <strong>ethical hacking courses</strong> are designed for individuals who aspire to think like hacking geniuses. We prioritize a hands-on approach, eliminating unnecessary theoretical aspects. Instead, we present real-world problems, providing you with the practical knowledge to dissect and overcome challenges.
			</p>
		</div>	
	</div>
</div>