<div class="py-2"></div>
<div class="container-fluid">
    <div class="row g-5">
        <div class="col-md-8 offset-md-2 text-start">
                <div class="col-md-6">
                    <h2 class="text-body-emphasis">Hands-On Projects</h2>
                    <p>Ready to go beyond the basics? Explore these hands-on projects that allow you to dive into real-world scenarios and enhance your ethical hacking skills:</p>
                    <ul class="list-unstyled ps-0">
                        <li>
                            <a class="" href="https://github.com/ethicalhacker/startup-hack" rel="noopener" target="_blank">
                                Startup Hackathon Simulation
                            </a>
                        </li>
                        <li>
                            <a class="" href="https://github.com/ethicalhacker/secure-web-app" rel="noopener" target="_blank">
                                Secure Web Application Development
                            </a>
                        </li>
                        <li>
                            <a class="" href="https://github.com/ethicalhacker/network-penetration" rel="noopener" target="_blank">
                                Network Penetration Testing Lab
                            </a>
                        </li>
                        <li>
                            <a class="" href="https://github.com/ethicalhacker/social-engineering-sim" rel="noopener" target="_blank">
                                Social Engineering Simulation
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2 class="text-body-emphasis">Comprehensive Guides</h2>
                    <p>Explore detailed instructions and documentation on various aspects of ethical hacking, whether you're getting started or contributing to the community:</p>
                    <ul class="list-unstyled ps-0">
                        <li>
                            <a class="" href="../getting-started/introduction/">
                                Ethical Hacking Quick Start Guide
                            </a>
                        </li>
                        <li>
                            <a class="" href="../getting-started/advanced-techniques/">
                                Advanced Ethical Hacking Techniques
                            </a>
                        </li>
                        <li>
                            <a class="" href="../getting-started/reporting-tools/">
                                Reporting Tools for Ethical Hackers
                            </a>
                        </li>
                        <li>
                            <a class="" href="../getting-started/contribute/">
                                Contributing to the Ethical Hacking Community
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>
