<div class="row">
    <div class="container">
          <section class="logo-carousel slider shadow-lg" data-arrows="true">
            <div class="slide"><img src="{{ url_for('static', filename='media/amazon_white.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/google_white.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/tesla_white.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/playstation.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/spotify_white.svg') }}" class="px-2 shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/microsoft_logo.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/apple_logo.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/adobe_logo_whte.svg') }}" class="shadow-lg img--logo-slide"></div>
          </section>
    </div>
</div>