<!--companies logo-->
<h1 class="ms-4 text-primary">Learn How To Implement Complex Technlogies</h1>
<div class="separator py-4"></div>
<div class="row">
    <div class="container">
          <section class="logo-carousel slider shadow-lg" data-arrows="true">
            <div class="slide"><img src="{{ url_for('static', filename='media/amazon_white.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/google_white.svg') }}" class="shadow-lg img--logo-slide">
          </section>
    </div>
</div>
<!--companies end-->