<!--companies logo-->
<h1 class="ms-4 text-primary">Learn How To Implement Complex Technlogies</h1>
<div class="separator py-4"></div>
<div class="row">
    <div class="container">
          <section class="logo-carousel slider shadow-lg" data-arrows="true">
            <div class="slide"><img src="{{ url_for('static', filename='media/unity.png') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/python.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div class="slide"><img src="{{ url_for('static', filename='media/react2.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div><img src="{{ url_for('static', filename='media/html_5.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div><img src="{{ url_for('static', filename='media/javascript.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div><img src="{{ url_for('static', filename='media/swiftui.svg') }}" class="shadow-lg img--logo-slide"></div>
            <div><img src="{{ url_for('static', filename='media/ruby_programming_language.svg') }}" class="shadow-lg img--logo-slide"></div>
          </section>
    </div>
</div>
<!--companies end-->