<div class="container">
	<div class="row">
		<div class="text-start">
			<footer class="text-body-secondary">
			    <hr>
			    <p>
			        bytesprint courses are carefully crafted to provide comprehensive educational experiences. Our goal is to empower learners with practical skills and knowledge across various domains. These courses serve as a platform for skill development, helping you stay competitive in today's dynamic job market.
			    </p>
			    <hr>
			    <p>
			        We prioritize academic honesty and integrity in our learning community. We expect all learners to engage with the course content responsibly, avoiding any form of cheating or plagiarism. Upholding ethical standards is crucial for personal growth and the overall success of our educational programs.
			    </p>
			    <hr>
			    <p>
			        At bytesprint, we are dedicated to creating an inclusive and welcoming learning environment. We embrace diversity and do not tolerate any form of discrimination. Our commitment is to provide equal opportunities for all learners, fostering a culture of respect, understanding, and collaboration.
			    </p>
			    <hr>
			    <p>
			        <strong class="standards">&copy; 2023 bytesprint LLC.</strong> All rights reserved. bytesprint is a registered trademark of bytesprint.
			    </p>
			</footer>
		</div>
	</div>
</div>