@import 'custom-index.css';
strong{
	font-family:'Telegraf-UltraBold', sans-serif;
}
.cta-discover-3d{
	color:rgb(1,16,89);
	text-decoration:none;
}
.dropdown-toggle::after {
  display: none;
}
.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}