@import url('fonts.css');
*{
  font-family:'Telegraf-Regular', sans-serif;
  box-sizing:border-box;
}
.documentation-cool{
  background-image:url("documentation-background.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:10em 2em;
}
@media(min-width:1000px){
  .documentation-cool{
    padding:10em 5em;
  }

}
.pattern{
  background-image:url("Sans titre 110_20230804184040.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:10em 5em;
}
html,
body
{
  overflow-x:hidden;
}
h1,h4{
    font-family:'Telegraf-UltraBold', sans-serif;

}
.cta-discover{
  text-decoration: none;
  color:rgb(1,16,89);
}
.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #3498db, #2ecc71);
}

.btn{
  font-family:'Telegraf-UltraBold', sans-serif;
}
.cta-learn{
  color:white;
  text-decoration: none;
}
.dropdown-toggle::after {
  display: none;
}
.offer-section{
  background-image:url("Sans titre 110_20230804184131.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:10em 5em;
}
.pattern{
  background-image:url("Sans titre 110_20230804184040.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:10em 5em;
}
.dropdown-toggle::after {
  display: none;
}