<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6" id="slide">
                <img src="{{url_for('static', filename='media/mind_map(2).svg')}}" class="d-block mx-lg-auto img-fluid" alt="cellule" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6 d-flex flex-column gap-4">
                <h1 style="color: rgb(1, 16, 89);font-family:'Telegraf-UltraBold', sans-serif;">Exciting World of Bioinformatics Research</h1>
                <p class="lead hero-paragraph">
                    Explore the fascinating world of bioinformatics, where discoveries are made, and boundaries are pushed. 
                    Join us in this journey of scientific exploration.
                </p>
                <a href="{{ url_for('main.bioinformatics') }}" class="icon-link icon-link-hover cta-savoir-plus">
                    <span class="mt-2">Learn More</span>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="hero-section mb-5">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6" id="slide">
                <img src="{{url_for('static', filename='media/keydb.svg')}}" class="d-block mx-lg-auto img-fluid" alt="POO" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6 d-flex flex-column gap-4">
                <h1 style="color: white;font-family:'Telegraf-UltraBold', sans-serif;">Object-Oriented Programming (OOP) Conference</h1>
                <p class="lead hero-paragraph" style="color: white;">
                    Join our conference on Object-Oriented Programming (OOP) and explore the principles, practices, 
                    and innovations in the world of software development.
                </p>
                <a href="{{ url_for('main.OOP') }}" class="icon-link icon-link-hover" style="color: white; text-decoration: none; font-family: 'NeueMachina-Regular', sans-serif;">
                    <span class="mt-2">Learn More</span>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="py-5"></div>
<div class="pattern"></div>