<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
            <img src="{{url_for('static', filename='media/cyber.png')}}" alt="cyber-securité" style="max-width:75px;">
          </div>
          <div class="card-body">
            <h6 style="font-size: 1.2rem; font-weight:500;">Cybersecurity</h6>
            <p class="card-text">
              Discover our extensive cybersecurity courses and enhance your knowledge in digital defense. Dive into the world of online security with voilier.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <a href="{{url_for('main.hacking')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                  <span class="align-middle">Open</span>
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </div>
              <small class="text-body-secondary fs-italic">
                <div>$ 750</div>
                <div>Financial aid available</div>
              </small>
            </div>
          </div>
        </div>              
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
            <img src="{{url_for('static', filename='media/data_science.png')}}" alt="data-science" style="max-width:75px;">
          </div>
          <div class="card-body">
            <h6 style="font-size: 1.2rem; font-weight:500;">Data Science</h6>
            <div class="py-1"></div>
            <p class="card-text">Explore the world of data science with our comprehensive courses. Gain expertise in data analysis, machine learning, and more.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.data')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 500</div>
                  <div>Financial aid available</div>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/web_dev.png')}}" alt="développement-web" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Web Development</h6>
              <div class="py-1"></div>
              <p class="card-text">Master the art of web development with our specialized courses. Learn the latest technologies, frameworks, and build amazing web applications.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.web_dev')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 350</div>
                  <div>Financial aid available</div>
                </small>
              </div>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/cyber.png')}}" alt="flutter" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Application Development with Flutter</h6>
              <p class="card-text">Explore the world of mobile app development with Flutter. Build beautiful and responsive mobile applications with a single codebase. Join our courses and start your mobile development journey </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.flutter')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 450</div>
                  <div>Financial aid available</div>
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/bitcoin.png')}}" alt="cryptomonnaies" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Cryptocurrency Development</h6>
              <p class="card-text">Explore the world of cryptocurrency development. Learn to create and manage your own cryptocurrencies and blockchain applications.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.bitcoin')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                  <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 650</div>
                  <div>Financial aid available</div>
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3 " style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/unity.png')}}" alt="Unity" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Unity Game Development</h6>
              <p class="card-text">Create stunning games with Unity. Dive into the world of game development and build your own interactive experiences. Explore the exciting possibilities with Unity</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.game')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                      <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 750</div>
                  <div>Financial aid available</div>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/devOps.png')}}" alt="devOps" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">DevOps Engineering</h6>
              <p class="card-text">Master the principles of DevOps and streamline your software development process. Learn how to optimize efficiency and collaboration with our DevOps Engineering course.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.devOps')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                      <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 750</div>
                  <div>Financial aid available</div>
                </small>
              </div>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/deep_learning.png')}}" alt="deep-learning" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Artificial Intelligence</h6>
              <p class="card-text">Explore the exciting field of Artificial Intelligence and its applications. Join our Artificial Intelligence course at and unlock the potential of AI.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.IA')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 750</div>
                  <div>Financial aid available</div>
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/artificial_intelligence.png')}}" alt="Robotique-et-systèmes-embarqués" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 class="" style="font-size: 1.2rem; font-weight:500;">Robotics and Embedded Systems</h6>
              <p class="card-text">Explore the world of Robotics and Embedded Systems. Join our course at Voilier and discover the exciting possibilities of robotics technology.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.robotics')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  <div>$ 750</div>
                  <div>Financial aid available</div>
                </small>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>