<h4 class="py-4 mt-4 border-3 border-bottom mb-4 col-8 col-lg-12 ms-2 ms-lg-5 border-primary" style="font-family:'Telegraf-UltraBold', sans-serif">
  {% if current_user.is_authenticated %}
    My courses
  {% else %}
  Courses and Trainings
  {% endif %}
</h4>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if current_user.is_authenticated %}
        {% if current_user.is_instructor() %}
          {% if courses_created %}
            {% for courses_created in courses_created %}
              <div class="col">
                <div class="card shadow-sm">
                <!-- Add your course card content here -->
                <!-- Use course.image, course.title, course.description, etc. as needed-->
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="px-4 py-5 my-5 mx-auto text-center">
              <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='media/create-file.png') }}" alt="" width="100">
              <div class="">
                <p class="lead mb-4">
                  You have not created any courses yet.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <a href="{{ url_for('api.instructor') }}" class="btn btn-primary">
                    <i class="bi bi-plus-circle-dotted"></i>
                    Create a new course
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% else %}
            {% if enrolled_courses %}
              {% for course in enrolled_courses %}
                <div class="col">
                  <div class="card shadow-sm">
                    <!-- Add your course card content here -->
                    <!-- Use course.image, course.title, course.description, etc. as needed-->
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="px-4 py-5 my-5 mx-auto text-center">
                <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='media/no_courses.png') }}" alt="" width="100">
                <div class="">
                <p class="lead mb-4">
                  You have not enrolled in any courses yet.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <a href="{{ url_for('main.courselist') }}" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    Browse courses
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% else %}
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
            <img src="{{url_for('static', filename='media/cyber.png')}}" alt="cyber-securité" style="max-width:75px;">
          </div>
          <div class="card-body">
            <h6 style="font-size: 1.2rem; font-weight:500;">Cybersecurity</h6>
            <p class="card-text">
              Discover our extensive cybersecurity courses and enhance your knowledge in digital defense. Dive into the world of online security.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <a href="{{url_for('main.hacking')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                  <span class="align-middle">Open</span>
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </div>
              <small class="text-body-secondary fs-italic">
                $ 750
              </small>
            </div>
          </div>
        </div>              
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
            <img src="{{url_for('static', filename='media/data_science.png')}}" alt="data-science" style="max-width:75px;">
          </div>
          <div class="card-body">
            <h6 style="font-size: 1.2rem; font-weight:500;">Data Science</h6>
            <div class="py-1"></div>
            <p class="card-text">Explore the world of data science with our comprehensive courses. Gain expertise in data analysis, machine learning, and more.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.data')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 500
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/web_dev.png')}}" alt="développement-web" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Web Development</h6>
              <div class="py-1"></div>
              <p class="card-text">Master the art of web development with our specialized courses. Learn the latest technologies, frameworks, and build amazing web applications.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.web_dev')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 350
                </small>
              </div>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/cyber.png')}}" alt="flutter" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Mobile&Desktop Applications Development</h6>
              <p class="card-text">
                Explore the world app development with Flutter. Build beautiful, responsive mobile and desktop applications with a single codebase.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.flutter')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 450
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/bitcoin.png')}}" alt="cryptomonnaies" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Cryptocurrency Development</h6>
              <p class="card-text">
                Explore the world of cryptocurrency development. Learn to create and manage your own cryptocurrencies and blockchain applications.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.bitcoin')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                  <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 650
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3 " style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/unity.png')}}" alt="Unity" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Game Development</h6>
              <p class="card-text">
                Create stunning games with Unity. Dive into the world of game development and build your own interactive experiences.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.game')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                      <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 750
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/devOps.png')}}" alt="devOps" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">DevOps Engineering</h6>
              <p class="card-text">
                Master the principles of DevOps and streamline your software development process.
                Join our courses now and kickstart your career in devOps.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.devOps')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                      <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 650
                </small>
              </div>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/deep_learning.png')}}" alt="deep-learning" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Artificial Intelligence</h6>
              <p class="card-text">
                Explore the exciting field of Artificial Intelligence and its applications. Learn how
                AI can impact the world around us.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.IA')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 750
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/artificial_intelligence.png')}}" alt="Robotique-et-systèmes-embarqués" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 class="" style="font-size: 1.2rem; font-weight:500;">Robotics and Embedded <br>Systems</h6>
              <p class="card-text">
                Explore the world of Robotics and Embedded Systems. Create complex mechanical and
                electronic systems.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.robotics')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 750
                </small>
              </div>
            </div>              
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>