<h2 class="ms-5 mt-4 border-bottom py-4 border-primary border-4" style="font-family:'Telegraf-UltraBold';">Our Courses and Trainings</h2>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
            <img src="{{url_for('static', filename='media/cyber.png')}}" alt="cyber-securité" style="max-width:75px;">
          </div>
          <div class="card-body">
            <h6 style="font-size: 1.2rem; font-weight:500;">Robotics Basics</h6>
            <p class="card-text">
              Learn the fundamentals of robotics and embark on your journey into this exciting field.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <a href="{{url_for('main.robotic_basics')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                  <span class="align-middle">Open</span>
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </div>
              <small class="text-body-secondary fs-italic">
                $ 250
              </small>
            </div>
          </div>
        </div>              
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
            <img src="{{url_for('static', filename='media/data_science.png')}}" alt="data-science" style="max-width:75px;">
          </div>
          <div class="card-body">
            <h6 style="font-size: 1.2rem; font-weight:500;">Industrial Robotics</h6>
            <div class="py-1"></div>
            <p class="card-text">
              Explore the world of industrial robotics and automation, vital in modern manufacturing.
            </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.industrial_robots')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 1500
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/web_dev.png')}}" alt="développement-web" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Mobile Robotics</h6>
              <div class="py-1"></div>
              <p class="card-text">
                Dive into mobile robotics, from autonomous drones to self-navigating robots.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.mobile_robotics')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 1500
                </small>
              </div>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/cyber.png')}}" alt="flutter" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Humanoid Robotics</h6>
              <p class="card-text">
                Discover the realm of humanoid robots, bridging the gap between humans and machines.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.humanoid')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 2750
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/bitcoin.png')}}" alt="cryptomonnaies" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Robotic Vision and Perception</h6>
              <p class="card-text">
                Delve into the domain of robotic vision and perception, vital for advanced robotics.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.robot_vision')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                  <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 1250
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3 " style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/unity.png')}}" alt="Unity" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Robotic Manipulation</h6>
              <p class="card-text">
                Master the art of robotic manipulation, a key element in tasks like pick-and-place.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.robot_manipulation')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                      <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 750
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/devOps.png')}}" alt="devOps" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Aerial Robotics</h6>
              <p class="card-text">
                Take to the skies with aerial robotics, including drones and unmanned aerial vehicles (UAVs)
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.aerial_robotics')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                      <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                  $ 1500
                </small>
              </div>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/deep_learning.png')}}" alt="deep-learning" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 style="font-size: 1.2rem; font-weight:500;">Underwater Robotics</h6>
              <p class="card-text">
                Explore underwater robotics and its applications in marine exploration and more.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.underwater_robots')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                 $ 3000
                </small>
              </div>
            </div>              
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="px-3 py-3" style="border-bottom-right-radius:20px;max-width:100px;background-color:rgb(0,63,140)">
              <img src="{{url_for('static', filename='media/artificial_intelligence.png')}}" alt="Robotique-et-systèmes-embarqués" style="max-width:75px;">
            </div>
            <div class="card-body">
              <h6 class="" style="font-size: 1.2rem; font-weight:500;">IoT and Embedded Systems</h6>
              <p class="card-text">
                Embark on a journey into the world of IoT and Embedded Systems.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a href="{{url_for('main.Iot')}}" class="btn btn-outline-primary d-flex flex-row gap-2">
                    <span class="align-middle">Open</span>
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
                <small class="text-body-secondary fs-italic">
                 $ 2500
                </small>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>