<section class="text-start container shadow-lg rounded-3 border-bottom banner" style="z-index:-5;">
    <div class="row py-lg-2">
        <div class="d-flex flex-column gap-3">
            <h1 class="text-start text-light display-3" style="font-family:'Telegraf-UltraBold', sans-serif;">Popular Courses</h1>
            <p class="lead text-light col-md-8">
                Discover our popular courses that will help you excel in the world of <strong>programming</strong>, <strong>robotics</strong>, <strong>Artificial Intelligence</strong>, <strong>Cybersecurity</strong>, <strong>data science</strong>, and <strong>game design</strong>. Join us on a learning journey like no other!
            </p>
            <div class="py-2"></div>
        </div>
    </div>
</section>
