<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Skills You Will Gain</h1>
			<div class="d-flex flex-wrap gap-2 py-5" style="font-size:1.8rem;">
			  <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">Robotics Engineering</span>
			  <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">Embedded Systems Development</span>
			  <span class="badge bg-success-subtle text-success-emphasis rounded-pill">IoT Integration</span>
			  <span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">Hardware Prototyping</span>
			  <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">Sensor Integration</span>
			  <span class="badge bg-info-subtle text-info-emphasis rounded-pill">Real-time Systems</span>
			  <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Firmware Development</span>
			  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Circuit Design and Debugging</span>
			</div>
		</div>
	</div>
</div>