<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Overview</h1>
			<p class="lead">
			    Dive into the <strong>fascinating world</strong> of <strong>robotics</strong>, where <strong>innovation</strong> meets <strong>engineering</strong>. In these courses, you will be creating complex <strong>circuits</strong>, making <strong>mechanical systems</strong> more <strong>autonomous</strong> trough <strong>sensors</strong> and <strong>sophisticated algorithms.</strong>
			</p>
		</div>	
	</div>
</div>