<div class="py-2"></div>
<div class="container-fluid">
    <div class="row g-5">
        <div class="col-md-8 offset-md-2 text-start">
            <div class="col-md-6">
              <h2 class="text-body-emphasis">Hands-On Projects</h2>
              <p>Dive into real-world applications and kickstart your journey with these open source projects tailored for robotics and embedded systems. Clone and experiment with them in your own GitHub repository.</p>
              <ul class="list-unstyled ps-0">
                <li>
                  <a class="" href="[Project Link 1]" rel="noopener" target="_blank">
                    Intelligent door
                  </a>
                </li>
                <li>
                  <a class="" href="[Project Link 2]" rel="noopener" target="_blank">
                    Automatic drone
                  </a>
                </li>
                <li>
                  <a class="" href="[Project Link 3]" rel="noopener" target="_blank">
                    Computer Vision
                  </a>
                </li>
                <li>
                  <a class="" href="[Project Link 4]" rel="noopener" target="_blank">
                    Submersile's sensors                    
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
                <h2 class="text-body-emphasis">Comprehensive Guides</h2>
                <p>Explore in-depth guides and documentation to enhance your understanding and contribute to the field of robotics and embedded systems.</p>
                <ul class="list-unstyled ps-0">
                    <li>
                      <a class="" href="[Guide Link 1]">
                        Robotics Quick Start Guide
                      </a>
                    </li>
                    <li>
                      <a class="" href="[Guide Link 2]">
                        Advanced Robotics Techniques
                      </a>
                    </li>
                    <li>
                      <a class="" href="[Guide Link 3]">
                        Embedded Systems Essentials
                      </a>
                    </li>
                    <li>
                      <a class="" href="[Guide Link 4]">
                        Embedded Systems Troubleshooting
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>
