<div class="py-2"></div>
<div class="container-fluid">
    <div class="row g-5">
        <div class="col-md-8 offset-md-2 text-start">
            <div class="col-md-6">
              <h2 class="text-body-emphasis">DevOps Starter Projects</h2>
              <p>Ready to go beyond the starter template? Explore these open-source projects that you can swiftly duplicate to a new GitHub repository.</p>
              <ul class="list-unstyled ps-0">
                <li>
                  <a class="" href="https://github.com/example/devops-project1" rel="noopener" target="_blank">
                    Continuous Integration with Jenkins
                  </a>
                </li>
                <li>
                  <a class="" href="https://github.com/example/devops-project2" rel="noopener" target="_blank">
                    Infrastructure as Code with Terraform
                  </a>
                </li>
                <li>
                  <a class="" href="https://github.com/example/devops-project3" rel="noopener" target="_blank">
                    Docker Container Orchestration with Kubernetes
                  </a>
                </li>
                <li>
                  <a class="" href="https://github.com/example/devops-project4" rel="noopener" target="_blank">
                    Project 4: Automated Deployment with Ansible
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <h2 class="text-body-emphasis">DevOps Guides</h2>
              <p>Explore more detailed instructions and documentation on using or contributing to DevOps projects.</p>
              <ul class="list-unstyled ps-0">
                <li>
                  <a class="" href="https://devops-guides.com/getting-started/introduction/" rel="noopener" target="_blank">
                    DevOps Quick Start Guide
                  </a>
                </li>
                <li>
                  <a class="" href="https://devops-guides.com/getting-started/docker/" rel="noopener" target="_blank">
                    Docker and DevOps Guide
                  </a>
                </li>
                <li>
                  <a class="" href="https://devops-guides.com/getting-started/kubernetes/" rel="noopener" target="_blank">
                    Kubernetes for DevOps
                  </a>
                </li>
                <li>
                  <a class="" href="https://devops-guides.com/contributing/" rel="noopener" target="_blank">
                    Contributing to DevOps Projects
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>    
</div>
