<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-start">
			<h1 class="display-1">Overview</h1>
			<p class="lead">
			    Dive into the exciting world of web development! Whether you're a beginner or an experienced coder, our platform offers a wealth of resources to help you enhance your skills and stay updated with the latest trends in the industry. Ready to turn your ideas into reality? Join us on this web development adventure and unlock the potential to create stunning, functional, and user-friendly websites.
			</p>
		</div>	
	</div>
</div>