<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The Best platform to learn complex technologies instructor portal">
	<meta name="keywords" content="course, create, tech">
	<meta name="author" content="bytesprint, LLC">
	<title>Bytesprint: Create awesome courses</title>
	<!--fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gajraj+One&family=Gloock&family=Inter:wght@100;
	200;300;900&family=Open+Sans:wght@300&family=Poppins:wght@400;500;900&family=Questrial&family=Roboto:ital,
	wght@0,900;1,700&family=Urbanist:wght@800&display=swap" rel="stylesheet">
	<!-- Favicons -->
	<link rel="apple-touch-icon" href="{{url_for('static', filename='media/favicons/apple-touch-icon.png')}}" sizes="180x180">
	<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon-32x32.png')}}" sizes="32x32" type="image/png">
	<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon-16x16.png')}}" sizes="16x16" type="image/png">
	<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon.png')}}" type="image/png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezqUmM6v9A8yJ9lYVxfsFq2KRqL4KVf8Kck+3oz9pZM+AtRxpPtDFF5AH3KdrO2z" crossorigin="anonymous">
	<!--custom style-->
	<link rel="stylesheet" href="{{url_for('static', filename='css/custom-index.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/courses/instructor.css')}}">
	<!--bootstrap style-->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<!--bootstrap grid style-->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-grid.css')}}">
	<!-- bootstrap-icons-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<!--Jquery-->
	<script src="{{url_for('static', filename='js/jquery-3.7.0.js.js')}}" type="text/javascript"></script>
</head>
<body>
	{% include 'headers/header-index.html' %}
	<div class="py-5"></div>
	<div class="py-3 py-lg-2"></div>
	<div class="alert alert-primary mx-4" role="alert"><h2 class="alert-heading">Welcome, {{ current_user.first_name }} !</h2>
      	<p class="lead">
      		We are thrilled to have you as part of our instructor community. If you're busy, don't worry. You can save your work by clicking the save button. Feel free to explore the platform, create engaging courses, and contribute to the world of tech education.
      	</p>
      	<hr>
      	<p class="lead">You are incredibly important to us. Your expertise helps us bring the best tech education the world has known!</p>
	</div>
	<div class="pattern"></div>
	<div class="container mt-5">
	    <h2 class="display-1 text-primary">Basic Informations</h2>
	    <small class="text-body-secondary">
			Fields marked with a red asterisk <span class="text-danger">(*)</span>
			are mandatory fields. Therefore, you must complete them to proceed.
		</small>
	    <div class="py-3"></div>
	    <form method="post" action="">
	        {{ form.hidden_tag() }}
	        <div class="form-group mb-4">
	            {{ form.author_name.label(class="form-control-label") }}<span class="text-danger">*</span>
	            {{ form.author_name(class="form-control", placeholder='Clark Eddy') }}
	        </div>

	        <div class="form-group mb-4">
	            {{ form.email.label(class="form-control-label") }}
	            {{ form.email(class="form-control", placeholder='example@gmail.com') }}
	        </div>

	        <div class="form-group mb-4">
	        	<label>Are you currently working for a company?<span class="text-danger">*</span></label>
	        	<div class="d-flex gap-2 mt-3">
	        	  	<div class="form-check">
				  		<input class="form-check-input" type="radio" name="working_for_company" id="working_for_company_yes" value="1" onclick="toggleCompanyNameField(true)">
				  		<label class="form-check-label" for="working_for_company_yes">
				   			Yes
				  		</label>
					</div>
					<div class="form-check">
				  		<input class="form-check-input" type="radio" name="working_for_company" id="working_for_company_no" value="0" checked onclick="toggleCompanyNameField(false)">
				  		<label class="form-check-label" for="working_for_company_no">
				   			No
				  		</label>
					</div>
	        	</div>	
	        </div>

	        <div class="form-group mb-4 companyFields" style="display: none;">
	            {{ form.company_name.label(class="form-control-label") }}
	            {{ form.company_name(class="form-control", placeholder='Tesla Motors') }}
	        </div>

	        <div class="form-group mb-4">
	        	{{ form.job_title.label(class="form-control-label") }}<span class="text-danger">*</span>
	        	{{ form.job_title(class="form-control", placeholder='Embedded Software Engineer') }}
	        </div>

	        <div class="form-group mb-4">
	            {{ form.course_title.label(class="form-control-label") }}<span class="text-danger">*</span> 
	            {{ form.course_title(class="form-control", placeholder="Machine Learning with TensorFlow") }}
	        </div>

	        <div class="form-group mb-4">
	            {{ form.short_description.label(class="form-control-label") }}<span class="text-danger">*</span>
	            {{ form.short_description(class="form-control", placeholder='Explore the world of cryptocurrency development. In this course you will Learn to create and manage your own cryptocurrencies and blockchain applications using the best technologies') }}
	            <div class="mt-3">
	            	<small>
		            	<i class="bi bi-smile"></i> 
		            	<span class="get-Inpired fs-italic">Note</span><br>
		            	<span class="fs-italic">
		            		Give a nice and short description that will make people engaged in your course.
		            	</span>
	            	</small>
	            </div>
	        </div>

	        <div class="form-group mb-4">
	        	<label>Do you have a video for this course?<span class="text-danger">*</span></label>
	        	<div class="d-flex gap-2 mt-3">
	        	  	<div class="form-check">
				  		<input class="form-check-input" type="radio" name="have_videos" id="have_videos_yes" value="1" onclick="toggleHaveVideosField(true)">
				  		<label class="form-check-label" for="have_videos_yes">
				   			Yes
				  		</label>
					</div>
					<div class="form-check">
				  		<input class="form-check-input" type="radio" name="have_videos" id="have_videos_no" value="0" checked onclick="toggleHaveVideosField(false)">
				  		<label class="form-check-label" for="have_videos_no">
				   			No
				  		</label>
					</div>
	        	</div>	
	        </div>

	        <div class="input-group mb-5">
			  	<input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
			  	<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
			  		Upload
			  	</button>
			</div>

	        <div class="form-group mb-4">
	            {{ form.video_links.label(class="form-control-label") }}
	            {{ form.video_links(class="form-control") }}
	        </div>

	        <div class="form-group mb-4">
	            {{ form.videos_free_to_use.label(class="form-check-label") }}
	            {{ form.videos_free_to_use(class="form-check-input") }}
	        </div>
	        <div class="d-flex justify-content-end gap-2">
	        	<button type="submit" class="btn btn-outline-primary">Continue</button>
		        <button type="button" class="btn btn-secondary">Save</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
	        </div>
	    </form>
	</div>
	<div class="py-3"></div>
	{% include 'footers/footer-instructor.html' %}
	<div class="py-5"></div>
	{% include 'footers/footer.html' %}
	<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>
	<script>
    function toggleCompanyNameField(isWorkingForCompany) {
        var companyFields = document.querySelector('.companyFields');
        companyFields.style.display = isWorkingForCompany ? 'block' : 'none';
    }
    function toggleHaveVideosField(hasVideos) {
        var videoNumberField = document.querySelector('.videoFields');
        videoNumberField.style.display = hasVideos ? 'block' : 'none';
    }
	</script>
</body>
</html>